@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "@radix-ui/themes/styles.css" layer(components);
@import "./theme.css";

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radix-themes {
  --default-font-family: "Noto Sans", sans-serif;
}

/* body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
} */

#root {
  height: 100%;
}
